<h1>Sign up!</h1>

<%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
        <br>
       <%= f.label :email, 'Email' %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password %>
        <br>
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirm %>
        <br>
        <%= f.submit %>
    </div>
    <% end %>
    
    <%= link_to('ログイン', login_path) %>